{% extends 'base.html' %}

{% block title %}
Главная страничка
{% endblock %}

{% block content %}
<p class="lead mt-1">Здесь должно быть введение, в котором я рассказываю о себе, своих проектах и так далее. <br/>
Но как же это все скучно.<br/>
Серьезно, ведь каждый личный блог так и выглядит. <br/></p>
<ul>
    <li> Меня зовут Максим 'Seekard' </li>
    <li> Мне 17 лет, учусь в 11 классе </li>
    <li> Я занимаюсь программированием и открыт к любым новым идеям </li>
</ul>
<p class="lead"> Еще, знаете, написать это <b><i>самым убогим шрифтом</i></b> и радоваться тому, что у тебя есть свой сайт для портфолио <br/>
Как вы понимаете, я такую затею не одобряю, поэтому здесь я напишу исключительно голую правду о себе, которую может узнать далеко не каждый человек!<br/>
</p>
<p class="h3">Ladies(idk what r u doing here, but text me if want to spend some time with a good man) and Gentlemen, we are ready to begin! </p>
<p class="lead">
    Плейбой, филантроп, нищеброд <br/>
    На самом деле я мультимиллионер <br/>
    Но в свое удовольствие пишу код <br/>
    Коплю на тетрадь смерти <br/>
    Член ордена феникса <br/>
    Если вы каким-то чудом меня не знаете, то посоветую вам обратиться к врачу, скорее всего, у вас проблемы с памятью <br/>
</p>
<p class="h3">Как же быстро я слился до того уровня, который презирал в самом начале этой страницы, но это не важно.<br/>
Важно лишь то, что вы сейчас находитесь на моем сайте, а значит я смог затащить вас сюда каким-то образом.</p> <br/>
<p class="lead">Торжественно клянусь, что регулярно буду обновлять этот сайт. <br/>
Буду завозить новые фичи и выкладывать посты (лучше эти строчки заскринить, потому что, если они удалятся, вы сможете спровоцировать меня на кофликт (но лучше не надо (вам же будет хуже)))</p>
<p class="h3">
    Ну и контакты, как без них
</p>
<ul class="list-unstyled">
    <li> <a href="https://vk.com/seekard" class="nav-link">VK - Максим Бухарский </a> </li>
    <li class="nav-link"> email - seek4rd@gmail.com </li>
    <li class="nav-link"> Дальше мои контакты будут появляться, когда я заведу еще аккаунты в каких-нибудь соц. сетях</li>
</ul>


{% endblock %}



